<div class="card">
  <div class="header">
    <img [src]="profileImage" class="img" alt="">
    <div class="title">
      <span class="head">
        <span class="name">
          {{ name }}
        </span>
        <span class="option">
          <i class="fa fa-ellipsis-h"></i>
        </span>

      </span>
      <span class="desc">
        {{ time | date:'medium' }}
      </span>
    </div>
  </div>
  <div class="body">
    <p>
      {{ caption }}
    </p>
    <img [src]="postImage"
      class="post-img" alt="">
  </div>
  <div class="footer">
    <div class="icon">
      <a href="#" class="like">
        <i class="fa fa-thumbs-o-up like-icon"></i>
        <span class="text">
          Like
        </span>
      </a>
    </div>
    <div class="icon">
      <a href="#">
        <i class="fa fa-comment-o"></i>
        <span class="text">
          Comment
        </span>
      </a>
    </div>
    <div class="icon">
      <a href="#">
        <i class="fa fa-share"></i>
        <span class="text">
          Share
        </span>
      </a>
    </div>
  </div>
</div>